.about {
    background: $primary;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    width: 90%;
    margin: 10px auto;
    padding-bottom: 70px;

    .aboutContent {
        display: flex;
        width: 90%;
        margin: 0 auto;

        img {
            width: 300px;
            height: 200px;
        }

        p {
            padding: 20px;
            line-height: 30px;
        }

        @media (max-width:1200px) {
            flex-direction: column-reverse;
            align-items: center;

            img {
                width: 200px;
            }
        }
    }
}

.skills {
    background: $primary;
    width: 90%;
    margin: 60px auto;
    border-radius: 10px;
    padding: 10px;

    .skillsContent {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 40px;

        li {
            text-align: center;

            img {
                width: 60px;
                color: white;
            }

            i {
                font-size: 6rem;
            }

            p {
                margin: 20px;
                font-size: 3rem;
            }
        }
    }
}