#portfolio {
    padding-top: 50px;
}

.portfolioPiece {
    display: flex;
    padding: 10px;
    width: 82%;
    margin: 100px auto;

    @media (max-width: 1200px) {
        flex-direction: column;
    }

    @media (max-width: 500px) {
        width: 100%;
        padding: 0;
    }

    .pieceImage {
        display: flex;
        flex-direction: column;

        img {
            width: 500px;
            height: 400px;
            transition: 0.5s;

            @media (max-width: 1200px) {
                margin: 0 auto;
            }

            @media (max-width: 650px) {
                width: 400px;
                height: 300px;
            }

            @media (max-width: 500px) {
                width: 300px;
                height: 200px;
            }
        }

        p {
            text-align: center;
            padding: 10px;
        }
    }

    .pieceContent {
        padding: 20px;
        
        h3 {
            font-size: 4.5rem;
            text-align: center;
        }

        .links {
            padding: 20px 0;
            display: flex;

            @media (max-width: 1200px) {
                justify-content: center;
            }

            a {
                font-size: 3rem;
                color: $primary;
                background: $white;
                border: 4px solid $primary;
                border-radius: 10px;
                padding: 4px 10px;
                margin-right: 40px;
                margin-left: 5px;
                transition: 0.5s;

                &:focus, &:hover {
                    outline: none;
                    border: 4px solid $white;
                    color: $white;
                    background: $primary;
                }
            }
        }

        p {
            margin: 20px 10px;
            line-height: 35px;
        }

        p:nth-of-type(2) {
            margin: 40px 10px 10px;
            transition: 0.5s;

            @media (max-width: 500px) {
                margin: 20px 10px;
            }
        }
    }
}